@import url("/fonts/Exo_2/exo2.css");
@import url("/fonts/Open_Sans/opensans.css");

:root {
  --vp-font-family-base: "Open Sans", sans-serif;
}
header img.background-image {
  opacity: 0.9 !important;
}

.news-banner {
  top: calc(var(--vp-nav-height) - 10px) !important;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif !important;
}

@media (max-width: 768px) {
  header {
    height: auto;
    padding-top: 7rem !important;
  }
}

/* Move navigation buttons to the right */

.top-nav nav.nav-desktop {
  justify-content: space-between;
}

.top-nav nav.nav-desktop > .space {
  display: none;
}

.top-nav nav.nav-desktop > nav:has(ul) {
  margin-left: auto;
}

.top-nav nav.nav-desktop > .max {
  flex: 0;
}

.top-nav nav.nav-desktop > nav.actions {
  margin-left: 1rem;
}
